---
import TitledPage from '../layouts/TitledPage.astro';
import { client } from '../../tina/__generated__/client';
const postsResponse = await client.queries.postConnection()
const posts = postsResponse?.data?.postConnection?.edges?.map((post) => {
  return { slug: post?.node?._sys.filename }
})
console.log(posts)
---

<TitledPage 
    title="Richard's Blog"
    description="Richard's Blog"
    pageTitle="My Blog"
>
    <section class="grid">
        <div>
            <h2>Posts</h2>
            <ul>
                {posts?.map((post) => (
                    <li><a href={`/blog/${post.slug}`}>{post.slug}</a></li>
                ))}
            </ul>
        </div>

    </section>
    
</TitledPage >