---
import TitledPage from '../layouts/TitledPage.astro';
---

<TitledPage 
    title="Richard's Blog"
    description="Richard's Blog"
    pageTitle="My Blog"
>
    <section class="grid">

    </section>
    
</TitledPage >