---
import Navbar from "../components/Navbar.astro";
import '../styles/PostPage.css'

const { frontmatter } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="description" content={description}> -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <style>
        </style>
	</head>
	<body class="bg-slate-900 text-gray-100 min-h-screen ">
		<main class="md:mx-32 ">
			<Navbar />
            <article class="px-8 pt-4 flex flex-col gap-2">
                <h1 class="font-bold" id="title">{frontmatter.title}</h1>
                <slot />
            </article>
		</main>
	</body>
</html>

