---
interface Props {
	title: string;
    pageTitle: string;
	description?: string;
}

const { title, pageTitle, description } = Astro.props;
import Navbar from '../components/Navbar.astro';
import '../styles/base.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-900 text-gray-100 min-h-screen ">
		<main class="md:mx-32 ">
			<Navbar />
            <section class="px-8 py-0  md:p-8 flex flex-col gap-4">
                <h3 class="flex text-xl items-center whitespace-nowrap text-gray-300  lg:text-3xl 3xl:text-5xl after:w-1/2 after:bg-gray-700 after:block after:h-[1px] after:ml-8">{pageTitle}</h3>
			    <slot />
            </section>
		</main>
	</body>
</html>


